main{
    width: 60%;
    min-width: 600px;
    border: 1px solid grey;
    font-family: Arial, Helvetica, sans-serif;
}
input[type="text"]:focus{
    outline: none;
    border: 1px solid yellow;
    background-color: rgb(252, 248, 184);
}
form {
    width: 100%;
}
h2{
    padding: 5px;
    margin: 10px;
}
fieldset {
    border-color: transparent;
    display: flex;
}
form .alta {
    border-top: 2px solid grey;
    width: 96%;
}
form .alta input {
    float: right;
}
label.titulo {
    font-size: 1.4em;
}
.requerido {
    font-size: 1.6em;
    color: red;
}
label {
    display: block;
}
div>label {
    color: rgba(60, 60, 60, 0.824);
    padding-bottom: 10px;
    font-size: 0.8em;
}
.municipio {
    display: flex;
}

.align {
    display: flex;
    flex-direction: column;
    margin-right: 8px;
}

.align:first-child {
    width: 30%;
}

.align:last-child {
    width: 45%;
}
form fieldset:last-child>input{
    display: block;
    font-size: 20px;
}
fieldset>.titulo{
    flex: 30%;
    overflow: hidden;
}
.dos{
    flex:45%;
    overflow: hidden;
    margin-top: 10px;
}
.ayuda{
    flex: 25%;
    color: transparent;
    transition: 1s;
}
.tlf .dos{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.alinear:first-child {
    width: 50%;
}

.alinear:last-child {
    width: 50%;
}
fieldset:hover .ayuda{
    color: rgb(255, 0, 0);
    transform: scale(1);
}
form>fieldset:hover{
    background-color: #E6B700;
}
form>fieldset:last-child:hover{
    background-color: white;
}