*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
label{
    display: block;
    margin-top: 10px;
    margin-bottom: 5px;
    font-size: 16px;
}
main{
    display: flex;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
}
.container{
    flex: 1 1 50%;
}
fieldset{
    display: flex;
    padding: 10px;
    border: none;
}
.form-group{
    flex: 1 1 50%;
}
input[type="number"]{
    width: 40px;
    border-radius: 10px;
    padding: 5px;
}
input[type="text"], 
input[type="password"],
input[type="email"]{
    width: 90%;
    padding: 5px;
}
input[type="checkbox"]{
    width: 50px;
}
main>.container:first-child{
    min-width: 500px;
    padding: 20px;
}
input[type="submit"]{
    margin-left: 500px;
    padding: 8px;
    font-size: 20px;
    background-color: blue;
    color: aliceblue;
    border-radius: 5px;
    cursor: pointer;
}
form{
    border: 2px solid gray;
    box-shadow: 5px 5px gray;
    padding: 20px;
    border-radius: 10px;
}
legend{
    font-size: 25px;
}
fieldset>.form-group:last-child label{
    text-align: center;
}
fieldset>.form-group:last-child input[type="radio"]{
    margin-left: 40px;
}
fieldset>.form-group:last-child input[type="number"]{
    margin-left: 125px;
}
fieldset>.form-group:last-child select{
    margin-left: 100px;
}
fieldset>.form-group:last-child input[type="checkbox"]{
    margin-left: 80px;
}
table{
    margin: 0 auto;
    width: 70%;
    border-collapse: collapse;
    caption-side: top;
    margin-top: 10px;
    padding: 20px 20px;
}
th, td{
    width: 25%;
    border: 1px solid gray;
    text-align: center;
    padding: 5px;
}
td:nth-child(even){
    background-color: chartreuse;
}
td:nth-child(odd){
    background-color: coral;
}
thead>tr:first-child{
    background-color: crimson;
}
th{
    background-color: cyan;
}
caption{
    font-size: 1.4em;
    margin-bottom: 5px;
}
